@import url(http://fonts.googleapis.com/css?family=PT+Serif|PT+Serif:b|PT+Serif:i);

section {
  background: #000;
  color: #fff;
  padding: 2em;
  font-family: "PT Serif", Baskerville, Georgia;
}

#follow {
  background: none;
}

.grey {
  color: #777;
}

a:link,
a:visited {
  color: orange;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

path, line {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}
text {
  fill: #fff;
  font-size: 16px;
}
circle {
  fill: none;
  fill-opacity: .5;
  stroke: white;
  stroke-width: 1.5px;
}
rect {
  fill: none;
  fill-opacity: .5;
  stroke: white;
  stroke-width: 1.5px;
}
div.chart {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top:0;
  padding-left:0;
}
.parenthetical {
  font-size: 75%;
}
.title-slide {
  text-align: center;
  padding-top: 3em;
}
.slide {
  padding: 3em 6em;
}

#getting-started.slide, #pros-cons.slide {
  font-size: 80%;
}
